<?xml version="1.0"?>
<config>

     <helpers>
         <payment>
             <class>Mcq_Bitcoin_Helper_Data</class>
         </payment>
     </helpers>  
 
    <modules>
        <Mcq_Bitcoin>
            <version>0.1.0</version>
        </Mcq_Bitcoin>
    </modules>
 
    <global>

        <blocks>
            <newmodule>
                <class>Mcq_Bitcoin_Block</class>
            </newmodule>
        </blocks>

        <models>
            <bitcoin>
                <class>Mcq_Bitcoin_Model</class>
            </bitcoin>
        </models>
 
        <resources>
            <bitcoin_setup>
                <setup>
                    <module>Mcq_Bitcoin</module>
                    <class>Mcq_Bitcoin_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bitcoin_setup>
            <bitcoin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bitcoin_write>
            <bitcoin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bitcoin_read>
        </resources>
    </global>
    <default>
        <payment>
            <bitcoin>
 
            <active>0</active>
 
            <model>bitcoin/paymentLogic</model>
 
            <order_status>pending</order_status>
            <title>Bitcoin Payment</title>
 
            <api_key>1234</api_key>
            <api_secret>1234</api_secret>
            #this lameness is only because we inherit from the cc class and don't implement some of the stuff ourselves like isAvailable
            <cctypes>AE,VI,MC,DI,SS</cctypes>
 
            <payment_action>authorize_capture</payment_action>
 
            <allowspecific>0</allowspecific>
            </bitcoin>
        </payment>
    </default>
</config>

