<?xml version="1.0"?>
<config>
 
    <modules>
        <Bitcoin_Checkout>
            <version>0.1.0</version>
        </Bitcoin_Checkout>
    </modules>
 
    <global>
 
        <helpers>
            <bitcoin>
                <class>Bitcoin_Checkout_Helper</class>
            </bitcoin>
        </helpers>  
        <models>
            <bitcoin>
                <class>Bitcoin_Checkout_Model</class>
            </bitcoin>
        </models>
 
        <resources>
            <bitcoin_setup>
                <setup>
                    <module>Bitcoin_Checkout</module>
                    <class>Bitcoin_Checkout_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bitcoin_setup>
            <bitcoin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bitcoin_write>
            <bitcoin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bitcoin_read>
        </resources>
    </global>
    <default>
        <payment>
            <bitcoin>

                <active>1</active>

                <model>bitcoin/paymentLogic</model>

                <order_status>pending</order_status>
                <title>Bitcoin Payment </title>

                <cctypes></cctypes>

                <payment_action>capture</payment_action>

                <allowspecific>0</allowspecific>
            </bitcoin>
        </payment>
    </default>
</config>

