<?xml version="1.0"?>
<config>
  <modules>
    <Bitcoin_Bitpay>
      <version>0.1.0</version>
    </Bitcoin_Bitpay>
  </modules>

  <global>

    <blocks>
      <bitpay>
        <class>Bitcoin_Bitpay_Block</class>
      </bitpay>
    </blocks>

    <models>
        <bitpay>
            <class>Bitcoin_Bitpay_Model</class>
            <resourceModel>bitpay_mysql4</resourceModel>
        </bitpay>   
        <bitpay_mysql4>
            <class>Bitcoin_Bitpay_Model_Mysql4</class>              
            <entities>
                <bam>
                    <table>bam</table>
                </bam>
            </entities>              
        </bitpay_mysql4>
    </models>

    <helpers>
      <payment>
        <class>Bitcoin_Bitpay_Helper</class>
      </payment>
    </helpers>  

    <resources>
      <bitpay_setup>
        <setup>
          <module>Bitcoin_Bitpay</module>
          <class>Bitcoin_Bitpay_Model_Resource_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </bitpay_setup>
      <bitpay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </bitpay_write>
      <bitpay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </bitpay_read>
    </resources>
  </global>
  <default>
    <payment>      
      <bitpay>
        <active>1</active>
        <model>bitpay/checkout</model>
        <order_status>pending</order_status>
        <title>Bitcoin Bitpay</title> 
        <rpchost>localhost</rpchost>
        <rpcport>8332</rpcport>
        <allowspecific>0</allowspecific>
        <group>offline</group>        
      </bitpay>
    </payment>
  </default>
</config>

